[submodule "cider"]
	path = cider
	url = https://github.com/ruotianluo/cider.git
[submodule "coco-caption"]
	path = coco-caption
	url = https://github.com/ruotianluo/coco-caption.git
[submodule "super-resolution"]
	path = super-resolution
	url = https://github.com/gstoica27/super-resolution.git
	branch = master
